<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abhishek.collegebuddy">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="CollegeBuddy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".developers"></activity>
        <activity android:name=".More_activities.about_us" />
        <activity android:name=".More_activities.disclaimer" />
        <activity android:name=".More_activities.privacy_policy" />
        <activity android:name=".OldSyllabus.EighthSem.mech_sem8_old" />
        <activity android:name=".OldSyllabus.EighthSem.civil_sem8_old" />
        <activity android:name=".OldSyllabus.EighthSem.cse_sem8_old" />
        <activity android:name=".OldSyllabus.EighthSem.eee_sem8_old" />
        <activity android:name=".OldSyllabus.SeventhSem.mech_sem7_old" />
        <activity android:name=".OldSyllabus.SeventhSem.civil_sem7_old" />
        <activity android:name=".OldSyllabus.SeventhSem.cse_sem7_old" />
        <activity android:name=".OldSyllabus.SeventhSem.eee_sem7_old" />
        <activity android:name=".OldSyllabus.SixthSem.mech_sem6_old" />
        <activity android:name=".OldSyllabus.SixthSem.civil_sem6_old" />
        <activity android:name=".OldSyllabus.SixthSem.cse_sem6_old" />
        <activity android:name=".OldSyllabus.SixthSem.eee_sem6_old" />
        <activity android:name=".OldSyllabus.FifthSem.mech_sem5_old" />
        <activity android:name=".OldSyllabus.FifthSem.civil_sem5_old" />
        <activity android:name=".OldSyllabus.FifthSem.cse_sem5_old" />
        <activity android:name=".OldSyllabus.FifthSem.eee_sem5_old" />
        <activity android:name=".OldSyllabus.FourthSem.mech_sem4_old" />
        <activity android:name=".OldSyllabus.FourthSem.civil_sem4_old" />
        <activity android:name=".OldSyllabus.FourthSem.cse_sem4_old" />
        <activity android:name=".OldSyllabus.FourthSem.eee_sem4_old" />
        <activity android:name=".OldSyllabus.ThirdSem.mech_sem3_old" />
        <activity android:name=".OldSyllabus.ThirdSem.civil_sem3_old" />
        <activity android:name=".OldSyllabus.ThirdSem.cse_sem3_old" />
        <activity android:name=".OldSyllabus.ThirdSem.eee_sem3_old" />
        <activity android:name=".OldSyllabus.SecondSem.mech_sem2_old" />
        <activity android:name=".OldSyllabus.SecondSem.civil_sem2_old" />
        <activity android:name=".OldSyllabus.SecondSem.cse_sem2_old" />
        <activity android:name=".OldSyllabus.SecondSem.eee_sem2_old" />
        <activity android:name=".OldSyllabus.SecondSem.Main2Activity" />
        <activity android:name=".NewSyllabus.FourthSem.mech_sem4_new" />
        <activity android:name=".NewSyllabus.FourthSem.civil_sem4_new" />
        <activity android:name=".NewSyllabus.FourthSem.cse_sem4_new" />
        <activity android:name=".NewSyllabus.FourthSem.eee_sem4_new" />
        <activity android:name=".NewSyllabus.ThirdSem.mech_sem3_new" />
        <activity android:name=".NewSyllabus.ThirdSem.civil_sem3_new" />
        <activity android:name=".NewSyllabus.ThirdSem.cse_sem3_new" />
        <activity android:name=".NewSyllabus.ThirdSem.eee_sem3_new" />
        <activity android:name=".NewSyllabus.SecondSem.mech_sem2_new" />
        <activity android:name=".NewSyllabus.SecondSem.civil_sem2_new" />
        <activity android:name=".NewSyllabus.SecondSem.cse_sem2_new" />
        <activity android:name=".NewSyllabus.SecondSem.eee_sem2_new" />
        <activity android:name=".OldSyllabus.FirstSem.mech_sem1_old" />
        <activity android:name=".OldSyllabus.FirstSem.eee_sem1_old" />
        <activity android:name=".OldSyllabus.FirstSem.cse_sem1_old" />
        <activity android:name=".OldSyllabus.FirstSem.civil_sem1_old" />
        <activity android:name=".NewSyllabus.FirstSem.mech_sem1_old" />
        <activity android:name=".NewSyllabus.FirstSem.mech_sem1_new" />
        <activity android:name=".NewSyllabus.FirstSem.civil_sem1_old" />
        <activity android:name=".NewSyllabus.FirstSem.civil_sem1_new" />
        <activity android:name=".NewSyllabus.FirstSem.cse_sem1_old" />
        <activity android:name=".NewSyllabus.FirstSem.cse_sem1_new" />
        <activity android:name=".NewSyllabus.FirstSem.eee_sem1_old" />
        <activity android:name=".OldSyllabus.civilold" />
        <activity android:name=".NewSyllabus.civilnew" />
        <activity android:name=".NewSyllabus.FirstSem.EEE_1st_new" />
        <activity android:name=".NewSyllabus.MechNew" />
        <activity android:name=".OldSyllabus.MechOld" />
        <activity android:name=".OldSyllabus.EeeOld" />
        <activity android:name=".NewSyllabus.EeeNew" />
        <activity
            android:name=".splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".NewSyllabus.new_syllabus_cse"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OldSyllabus.old_syllabus_cse"
            android:screenOrientation="portrait" />
        <activity android:name=".syllabus" />
        <activity
            android:name=".dashboard"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginsignup.login"
            android:screenOrientation="portrait" />
    </application>

</manifest>