<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abhishek.collegebuddy">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="CollegeBuddy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.abhishek.collegebuddy.splash" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.abhishek.collegebuddy.MainActivity" />
        <activity android:name="com.abhishek.collegebuddy.NewSyllabus.new_syllabus_cse"  android:screenOrientation="portrait"/>
        <activity android:name="com.abhishek.collegebuddy.OldSyllabus.old_syllabus_cse"  android:screenOrientation="portrait"/>
        <activity android:name="com.abhishek.collegebuddy.syllabus" />
        <activity
            android:name="com.abhishek.collegebuddy.dashboard"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_dashboard" />
        <activity android:name="com.abhishek.collegebuddy.loginsignup.login"  android:screenOrientation="portrait"/>
    </application>

</manifest>